
    <div class="alert-box lists row">
    <hr>
      <%= render partial: 'activities/orgn/partials/torsos' %>
      <div class="large-6 columns left">
        <%= render partial: 'activities/orgn/partials/create_message', locals: {activity: activity} %> comme vous.
      </div>
      <%= render partial: 'activities/orgn/partials/network_intel', locals: {activity: activity} %>
    </div>
