
        <h3 class="text-center"><b><font color='#339966'>Bienvenue chez vous</font></b><br></h3>
        Cher organisateur <%= @user.username %>, <br>
        <p>
        Merci de vous être inscrit sur le Ka’agenda, la plateforme qui participe à l’organisation des événements au sein de notre communauté.
        Désormais, vous pourrez annoncer vos événements, et être informés sur les événements organisés dans la même période.
        Suivez les événements, les organisateurs ou les jours qui vous intèressent et tenez-vous au courant grâce aux notifications <i class="fi-heart"></i>.
      </p>
        <h4 class="text-center">
          <b>
            <font color='#339966'>!!! Veuillez confirmer votre compte !!!</font><br>
          </b>
        </h4>
        <p>
          Pour vous offrir les meilleurs informations possible et pour des raisons de sécurité nous vous demandons de confirmer votre adresse email avec le lien ci-dessous:
        </p>
        <%= link_to confirmation_url(@user, confirmation_token: @user.confirmation_token) do %>
          <h5 class="text-center"><b>
            <font color='red'><i class="fi-alert"></i></font>
            <font color='#339966'><u>confirmer votre compte</u></font>
            <font color='red'><i class="fi-alert"></i></font>
          </b></h5>
        <% end %>
