<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="/assets/stylesheets/visitors.scss">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<style type="text/css">
hr { height: 4; border-style: solid; border-width: 10px 0 0 0; border-color:
#4caf50; }
</style>
</head>
<body>
<header>

<div class="row">
<div class="medium-4 columns">
<img src="http://placehold.it/450x183&text=LOGO" alt="company logo">
</div>
<div class="medium-8 columns">
<img src="http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
</div>
</div>

<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">BREAKING NEWS</h4>
</div>
<br><br><br>

<br>
</header>
<br>
<div class="row">
<div class="medium-8 columns">
<p><img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
</div>
<div class="medium-4 columns">
<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
</div>
</div>
<hr>
<br><br>
<div class="row column">
<h2 style="margin: 0;" class="text-center">Evenement de la semaines</h4>
</div>
<br><br>

<link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-uikit-feb.css" rel="stylesheet">

<div class="row">
    <div class="weather">

      <header class="header">
        <div class="event-date">
          <p class="event-month">Jul.</p>
          <p class="event-day">15</p>
        </div>
        <div class="event-desc">
          <h3 class="event-desc-header">    Vendredi</h3>
        </div>
      </header>
    </div>
    <div class="row">
      <div class="medium-4 columns">
         <ul class="pricing-table">
           <li class="title">Starter</li>
          <img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image">
           </li>
           <li class="bullet-item">3<span> websites</span></li>
           <li class="bullet-item">10 <span> bdd access</span></li>
           <li class="bullet-item">2 <span> users</span></li>
           <li class="cta-button"><button class="button" href="#">Choose Plan</button></li>
         </ul>
       </div>
      <div class="medium-4 columns">
         <ul class="pricing-table recommended">
           <li class="best"><span></span></li>
           <li class="title">Team</li>
           <li class="price">$129.<sup>90<sup>
             <br><span>per month</span>
             <hr>
           </li>
           <li class="bullet-item">10<span> websites</span></li>
           <li class="bullet-item">25 <span> bdd access</span></li>
           <li class="bullet-item">5 <span> users</span></li>
           <li class="cta-button"><button class="button" href="#">Choose Plan</button></li>
         </ul>
       </div>
      <div class="medium-4 columns">
         <ul class="pricing-table">
           <li class="title">Premium</li>
           <li class="price">$259.<sup>90<sup>
             <br><span>per month</span>
             <hr>
           </li>
           <li class="bullet-item">50<span> websites</span></li>
           <li class="bullet-item">80 <span> bdd access</span></li>
           <li class="bullet-item">25 <span> users</span></li>
           <li class="cta-button"><button class="button" href="#">Choose Plan</button></li>
         </ul>
       </div>
       <div class="medium-4 columns">
          <ul class="pricing-table">
            <li class="title">Premium</li>
            <li class="price">$259.<sup>90<sup>
              <br><span>per month</span>
              <hr>
            </li>
            <li class="bullet-item">50<span> websites</span></li>
            <li class="bullet-item">80 <span> bdd access</span></li>
            <li class="bullet-item">25 <span> users</span></li>
            <li class="cta-button"><button class="button" href="#">Choose Plan</button></li>
          </ul>
        </div>
        <div class="medium-4 columns">
           <ul class="pricing-table">
             <li class="title">Premium</li>
             <li class="price">$259.<sup>90<sup>
               <br><span>per month</span>
               <hr>
             </li>
             <li class="bullet-item">50<span> websites</span></li>
             <li class="bullet-item">80 <span> bdd access</span></li>
             <li class="bullet-item">25 <span> users</span></li>
             <li class="cta-button"><button class="button" href="#">Choose Plan</button></li>
           </ul>
         </div>
    </div>
</div>

<div class="row">
    <div class="weather">
      <header class="header">
        <div class="event-date">
          <p class="event-month">Jul.</p>
          <p class="event-day">16</p>
        </div>
        <div class="event-desc">
          <h3 class="event-desc-header">    Samedi</h3>
        </div>
      </header>


    </div>
</div>

<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
</article>
<footer>
<div class="row expanded callout secondary">
<div class="large-4 columns">
<h5>FLICKR IMAGES</h5>
<div class="row small-up-4">
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
</div>
</div>
<div class="large-4 columns">
<h5>FLICKR IMAGES</h5>
<span class="secondary label">Space</span>
<span class="secondary label">Galaxies</span>
<span class="secondary label">Milky Way</span>
<span class="secondary label">Black Holes</span>
<span class="secondary label">Rebels</span>
<span class="secondary label">Death Star</span>
<span class="secondary label">Republic</span>
<span class="secondary label">R2D2</span>
</div>
<div class="large-4 columns">
<h5>RANDOM MAG</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">
<ul class="menu">
<li><a href="#">Legal</a></li>
<li><a href="#">Partner</a></li>
<li><a href="#">Explore</a></li>
</ul>
</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2099 Random Mag</li>
</ul>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>
