

<p>
  <strong>User:</strong>
  <%= @foldate.user_id %>
</p>

<p>
  <strong>Datefolwd:</strong>
  <%= @foldate.datefolwd %>
</p>

<%= link_to 'Edit', edit_foldate_path(@foldate) %> |
<%= link_to 'Back', foldates_path %>
