

<p>
  <strong>Ville:</strong>
  <%= @belgium.ville %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @belgium.codepostal %>
</p>

<%= link_to 'Edit', edit_belgium_path(@belgium) %> |
<%= link_to 'Back', belgia_path %>
