
<p><h4><b>
<% if current_user.folevents.where(:event_id => event.id).count > 0 %>
  <%= render partial: 'events/folwd', locals: {event: event} %>
<% else %>
  <%= render partial: 'events/notfolwd', locals: {event: event} %>
<% end %>
</p></h4></b>
