<% if @events.exists?(id: activity.trackable_id) %>
<div class="alert-box success row">
    <div class="large-1 columns">
<font size="6"><i class="fi-plus"></i></font>
</div>
<div class="large-6 columns left">
<%= activity.created_at %><br>
<%= link_to activity.trackable.orgn.oname, activity.trackable.orgn %> a crée l'évenement <%= link_to activity.trackable.enom, activity.trackable %>
</div>
<div class="small-5 columns left">
folowed object
</div>
</div>
<% end %>
