<% if @events.exists?(id: activity.trackable_id) %>
  <% activities = Activity.order("created_at desc") %>
  <% tracked_event = Event.find(activity.trackable_id) %>
    <% if activity.id == activities.where(:created_at => (activity.created_at.beginning_of_day..activity.created_at.end_of_day), :trackable_id => tracked_event.id).first.id %>
<div class="alert-box success row">
  <div class="large-1 columns left">
<font size="6"><i class="fi-page-edit"></i></font>
</div>
    <div class="large-6 columns left">
      <%= activity.created_at %><br>
      <%= link_to activity.trackable.orgn.oname, activity.trackable.orgn %> a modifié l'évenement <%= link_to activity.trackable.enom, activity.trackable %>
  </div>
      <div class="small-5 columns left">
      folowed object
      </div>
</div>
  <% end %>
<% end %>
