<div class="small-5 columns left">
  Vous suivez la date du <%= link_to :controller => :agenda, :action => :index, start_date: activity.trackable.datefolwd do %><%= activity.trackable.datefolwd %><% end %>
</div>
