// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #008cba;

.verticalLine {
    border-right: solid #cccccc;
}

.item-wrapper-event {
  border: 1px solid #efefef;
  border-radius: 0px;
  padding: 20px;
  &:hover {
    border-color: black;
  }
}

.item-wrapper {
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    border-color: black;
    .img-wrapper {
      img { -webkit-filter: none; }

      .add-to-cart { bottom: 0; }
    }
  }
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  .add-to-cart {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #333;
    bottom: -50px;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: none;

    &:hover { background-color: #cc8b00 }
  }

  img {
    transition: all 0.2s ease;
    width: 100%;
  }
}

h3 { font-size: 22px; }
h5 { font-weight: bold; }

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
.service {
	width: 100%;
	margin: 20px 0;
  min-height: 170px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

  .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .service-icon-box > img.service-icon {
	  width: 40px;
  }

  &:hover {
	  border-color: red;
  }

  &:hover .service-icon-box {
	  top: -30px;
  }

  &:hover .service-heading {
	  top: -30px;
  }

  &:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
