
<div class="large-6 columns left">
  <%= activity.created_at %><br>
  <%= link_to activity.trackable.orgn.oname, activity.trackable.orgn %> a crée l'évenement <%= link_to activity.trackable.enom, activity.trackable %>
</div>
