<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label><font size="4px"><strong>Ka<font color="red">'</font></strong>agenda</font><font size="1px" color="#33cc33"> pro</font>
        <span class="right"><b>
          <font color="red"><h5 color="red" class="fi-x"></h5><button class="exit-off-canvas"></button></font>
        </b></span>
      </label>
    </li>
    <li><a href="/proagenda" class="off-canvas-submenu-call"><i class="fi-calendar"></i> Agenda</a></li>
    <li><a data-dropdown="drop1" data-dropdown="drop1" data-options="align: right" aria-expanded="false">Mes événements <span class="right"><b>&rsaquo;&rsaquo;</b></span></a></li></a></li>
    <li><a data-dropdown="drop2" data-dropdown="drop2" data-options="align: right" aria-expanded="false">Mes Organisation <span class="right"><b>&rsaquo;&rsaquo;</b></span></a></li></a></li>
    <li><a data-dropdown="drop3" data-dropdown="drop3" data-options="align: right" aria-expanded="false">Mes dates <span class="right"><b>&rsaquo;&rsaquo;</b></span></a></li></a></li>
    <li><a href="#">Sub menu 2</a></li>
    <li><a href="#" class="off-canvas-submenu-call">Option 2 <span class="right"> + </span></a></li>

    <li><a href="#">Sub menu 3</a></li>
  </ul>
</aside>
          <ul id="drop1" class="f-dropdown drop-right" data-dropdown-content="" style="position: absolute; top: 0px; background-color: #364a2f;" aria-hidden="true">
            <li><a href="/event/index_pro"><i class="fi-clipboard-notes"></i> événements en court organisation</a></li>
            <li><a href="/events/new"><i class="fi-plus"></i> créer un événement</a></li>
          </ul>

          <ul id="drop2" class="f-dropdown drop-right" data-dropdown-content="" style="position: absolute; top: 0px; background-color: #364a2f;" aria-hidden="true">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
          </ul>

          <ul id="drop3" class="f-dropdown drop-right" data-dropdown-content="" style="position: absolute; top: 0px; background-color: #364a2f;" aria-hidden="true">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
          </ul>
