<div class="contenentblack">
  <ul class="off-canvas-list">
    <li><label id="top"><font size="4"><strong>Ka<font color="red">'</font></strong>agenda</font><font size="1px" color="#ffffff"> Navigateur</font>
        <span class="right"><b>
          <font color="red"><h5 color="red" class="fi-x"></h5><button class="exit-off-canvas"></button></font>
        </b></span>
      </label></li>
  </ul>

  <div class="large-6 columns">
    <%= render 'layouts/info' %>
  </div>
  <div class="row">
  <div class="large-3 columns">
    <i class="fi-calendar"></i><br>
    <%=link_to events_path do %><button class="button alert small">Les événements</button><%end%>
  </div>
  <div class="large-3 columns ">
    <i class="fi-torsos-all"></i><br>
    <%=link_to orgns_path do %><button class="button success small">Les organisations</button><%end%>
  </div>
    </div>
  <br><br>
</div>
