
  <div class="row">
    <div class="large-6 columns">
      <div>
        <p class="logo hide-for-small-only"><i class="fi-target"></i> OACA <small>asbl.</small></p>
        <p class="footer-links">
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">Pricing</a>
          <a href="#">About</a>
          <a href="#">Faq</a>
          <a href="#">Contact</a>
        </p>
        <ul class="inline-list social">
          <a href="#"><i class="fi-social-facebook"></i></a>
          <a href="#"><i class="fi-social-twitter"></i></a>
          <a href="#"><i class="fi-social-linkedin"></i></a>
          <a href="#"><i class="fi-social-github"></i></a>
        </ul>
        <p class="copywrite">Copywrite not copywrite © 2017</p>
      </div>
    </div>
    <div class="large-6 columns">
      <form class="footer-form left">
       <font color="white" size="6">Envoyez-nous un messages <br></font>
      <label>
        <input type="email" id="email" placeholder="Email" />
      </label>
      <br>
      <label>
        <textarea rows="5" id="message" placeholder="Message"></textarea>
      </label>
      <button class="submit" type="submit" value="Submit">Send</button>
      </form>
    </div>
    </div>
