
        <html>
          <body class="mailbg">
            <br>
            <div class="row">
              <div class="large-5 large-centered small-12 columns mail_brand">
                <div class="text-center">
                  <%= image_tag 'logo_small.png', class:'centered', size:"45x45" %>
                  <hr style="border-color:rgba(72, 143, 177, 0);">
                  <font color="white" size="6" align="center"><strong>Ka<font color="red">'</font></strong>agenda</font>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-5 large-centered small-12  columns mail_body">
                <%= yield %>
              </div>
              <div class="large-5 large-centered small-12 columns mail_footer">

                <h3 class="text-center">"<b>Don't agonize.</h1>
                <h3 class="text-center"><font class=""><u>Or</u>g<u>anize</u></font>!</b>" <br><font size="4">-<i>Kwamé Ture</i>-</font></h1>
                <div class="row">
                  <div class="small-4 columns">
                    <%= image_tag 'oaca.png' %>
                  </div>
                  <div class="small-4 columns">
                    <a href="https://www.facebook.com/AfroConsommActeurs/?fref=ts" target="_blank" style="font-size:80px;"><i class="fi-social-facebook"></i></a>
                  </div>
                  <div class="small-4 columns">
                    <a href="https://twitter.com/OacaAsbl" target="_blank" style="font-size:80px;"><i class="fi-social-twitter"></i></a>
                  </div>
                </div>

              </div>
            </div>
            <br>
        </html>

      </div>
      <div class="large-5 large-centered small-12 columns mail_footer">
        <i>
          Cordialement,<br>
          l'OACA asbl.
        </i>

        <h3 class="text-center">"<b>Don't agonize.</h1>
        <h3 class="text-center"><font class=""><u>Or</u>g<u>anize</u></font>!</b>" <br><font size="4">-<i>Kwamé Ture</i>-</font></h1>
        <div class="row">
          <div class="small-4 columns">
            <%= image_tag 'oaca.png' %>
          </div>
          <div class="small-4 columns">
            <a href="https://www.facebook.com/AfroConsommActeurs/?fref=ts" target="_blank" style="font-size:80px;"><i class="fi-social-facebook"></i></a>
          </div>
          <div class="small-4 columns">
            <a href="https://twitter.com/OacaAsbl" target="_blank" style="font-size:80px;"><i class="fi-social-twitter"></i></a>
          </div>
        </div>

      </div>
    </div>
    <br>
  </body>
</html>
